body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    margin-right:13%;
    background-color:#222;
}

.sidebar {
    width: 13%;
    height: 100vh;
    position: fixed;
    background: #222;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #dba55e;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 200px;
    padding: 20px;
    color:#fff;
    background-color: #222;
}
.content h1{
    color:#dba55e;
    font-size: 30px;
}

#cv a{
    color:#dba55e;
    text-decoration: none;
}

.gif-container {
    margin-left: 14%;
    height: 100vh; 
    overflow: hidden;
}

.gif-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.project {
    padding: 8px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #dba55e;
    border-radius: 10px;
}

.project h2 {
    margin-top: 0px;
}

.project p {
    margin: 10px 0;
}

.project a {
    color: #dba55e;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

section {
    padding: 4% 7% 5% 7%;
    margin-bottom: 20px;
}

section h1 {
    margin-top: 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

#projects a{
    color:#dba55e;
    text-decoration: none;
}

#contact a{
    color:#dba55e;
}

footer {
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin-left:9%;
    color:slategray;
    width: 100%;
    bottom: 0;
}

footer a{
    color:#dba55e;
}

@media (max-width: 576px) {
    body{
        margin-right: 0;
        margin-left: 0;
        margin:0;
        padding:0;
    }
    .sidebar {
        width: auto;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .sidebar nav{
        display: flex;
        justify-content: center;
    }
    #options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .sidebar nav ul li {
        margin: 5px 0;
    }

    .sidebar img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .content {
        width: auto;
        margin-left:0;
        margin-right:0;
        font-size:12px;
        padding:0;
    }
    section{
        margin-left:0;
        width: auto;
    }
    .gif-container {
        margin-left: 0;
        width: auto;
        height: auto;
    }

    table {
        width: 100%;
    }

    table, th, td {
        font-size: 12px;
        word-wrap: break-word;
    }

    table thead {
        display: none;
    }

    table tr {
        display: block;
        margin-bottom: 10px;
    }

    table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
    footer p{
        font-size:12px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        width: fit-content;
    }
}